


.header {
    background-color: wheat;
    height: 200px;
    display: flex;
}

.main {
    background-color: chartreuse;
    height: 700px;
}

.footer {
    background-color: cyan;
    height: 120px;
    padding: 70px;
}

.headlist {

    list-style: none;

    color: #372489;

    padding: 30px 10px;


}

.head {
    
    font-size: 30px;


    padding: 5px 1px;


}

.header h1 {
    border: 5px solid blue;
    font-family:'Times New Roman', Times, serif;
    margin-left: 10px;
}

.footerlist {
    float: right;
    list-style: none;
    
}
.foot {
    float: left;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}

.webpage {
    color: white;
    font-size: 30px;
    float: left;
    margin: 10px;
}

.image {
    width: 170px;
    height: 170px;
    margin: 10px;
}

span {
    color: red;
}

input {
    width: 200px;
    
    margin-bottom: 30px;
    padding: 20px;
    font-size: 10px;
    height: 5px;
    border: 1px solid #dee7ec;
}

textarea {

    width: 400px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 20px;
    height: 20px;
    border: 1px solid #dee7ec;
}


.contact-submit{
    background-color: #dee7ec;
    color: #889eab;
  }

.user {
    display: flex;
    
}
